@model IEnumerable<DiemNgoaiKhoa.Models.Point>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointFrame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMonitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointLecturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointFrame.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointMonitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointLecturer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
